.ski-resorts-page{
    display: grid;
    grid-template-areas: 
        "sidebar main"
        "sidebar pagination"; 
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    margin-top: 50px;
}


.ski-resorts-list{
    overflow-y: auto;
    padding: 5vh 6vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    
}

.resort-container{
    border-radius: 5px;
    /*height: 400px;*/
    overflow: hidden;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    max-height: 410px;
    /*background-color: var(--blue-background);*/

}

.tainer{
    border-radius: 5px;
    /*height: 400px;*/
    overflow: hidden;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
    /*background-color: var(--blue-background);*/

}

.resort-image-container{
    position: relative;
    height: 200px;
}

.resort-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0%;
    box-shadow: none;
}

.resort-details{
    padding: 10px 5px;
}

.resort-title-content span{
    color: var(--dark);
    font-weight: 500;
    font-size: 1.1rem;
}

.resort-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    padding: 20px 10px;
}

.resort-info-item{
    display: flex;
    align-items: center;
}

.resort-info-item svg{
    font-size: 1.8rem;
    color: var(--dark);
    padding-right: 5px;
}

.details-button{
    align-items: end;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}

.details-button button{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    background-color: var(--dark);
    color: white;
    cursor: pointer;
}

.pagination{
    grid-area: pagination; 
}

.resort-info-content{
    display: flex;
    height: 10vh;
    background-color: rgb(3, 16, 27);
}

.icon-content{
    position:absolute;
    top: 10px; 
    right: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    background-color: var(--background);
    border-radius: 5px;
    padding: 3px;
}

.icon-content p{
    font-size: 15px;
}

.filled-star{
    fill: var(--orange);
}


aside{
    border-right: 1px solid var(--blue-background);
    position: sticky;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside h3{
    align-self: flex-start;
    margin: 4vh 2vw;
}

