.heroSection {
    position: relative;
    background: url("/images/4.jpg") center/cover no-repeat;
    height: 600px;
    margin: 0;
}

.heroOverlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    height: 600px;

}

.heroText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 90%;
    margin-left: 1.5rem;
}

.heroHeading {
    color: var(--background);
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.heroText p {
    color: var(--background);
}

.bottom {
    border-bottom: 5px solid var(--background);
    width: auto;
}