.formSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.reviewForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--card-background);
  width: 100%;
  max-width: 800px;
  border-radius: 5px;
  align-items: center;
  padding: 15px;
  margin: 20px auto;
  box-shadow: 0 2px 8px 5px rgba(0, 0, 0, 0.08);
}

.reviewForm > h4 {
  margin: 20px 0;
  color: var(--dark);
}

.ratingLabel,
.textLabel {
  color: var(--dark);
}

.reviewForm > label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.textLabel > textarea {
  height: 100px;
  width: 100%;
  max-width: 500px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.reviewForm > button {
  height: 50px;
  margin-bottom: 20px;
}

.ratingContent {
  display: flex;
  justify-self: start;
  justify-content: center;
}
.star {
  font-size: 30px;
  color: var(--orange);
}

@media (max-width: 768px) {
  .reviewForm {
    padding: 10px;
    width: 90%;
  }

  .textLabel > textarea {
    max-width: 80%;
  }

  .star {
    font-size: 30px;
  }
}
