.userHeaderSection {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 8vw;
        margin-right: 20px;
        color: var(--background);
        font-weight: bold;
        z-index: 10;
}

.userImage {
        width: 45px;
        height: 45px;
        box-shadow: none;
        border-radius: 50%;
        object-fit: cover;
}
