.customButton {
    background-color: var(--orange);
    width: auto;
    height: 7vh;
    width: 200px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    border: none;
    text-decoration: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.customButton a {
    color: var(--background);
    font-size: 20px;
    font-weight: 900;
}
