@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Monoton&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap");
/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

:root {
    --background: #f0f9ff;
    --foreground: #171717;

    --text-color: #082449;
    --blue-background: #c3d8ed;
    --dark: #5e748e;
    --orange: #f7a260;
}

@media (prefers-color-scheme: dark) {
    :root {
        /*--background: #0a0a0a;
    --foreground: #ededed;*/
    }
}

article,
p,
h1,
h2,
h3,
h4,
a {
    color: var(--text-color);
    font-family: "Jost", sans-serif;
    margin: 0;
}

p,
article {
    font-size: 1.2rem;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

li,
ul {
    list-style: none;
    padding: 0;
    color: var(--text-color);
}

body,
html {
    color: var(--text-color);
    background: var(--background);
    font-family: "Jost", sans-serif;
    margin: 0;
}

img {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    height: auto;
}
