section {
    padding-left: 5vw;
    padding-right: 5vw;
}


.home-section {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.home-section .image-container img {
    height: 400px;
    width:350px;
    object-fit: cover;
}

.home-destinations-section {
    background-color: var(--blue-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.home-destinations-section h1 {
    margin-bottom: 50px;
}

.home-destinations {
    display: flex;
    gap: 4vw;
    align-items: flex-end;
}

.home-destination img {
    width: 300px;
    height: 450px;
    object-fit: cover; 
}

/*.home-destination:nth-child(2n) img {
    width: 300px;
    height: 500px;
    object-fit: cover;
}*/


.planner-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.title-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.planner-section article {
    display: flex;
    justify-content: center;
    gap: 6vw;
}

.planner-section .image-container img {
    height: 500px;
    width: auto;
}

.steps-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.step-number {
    background-color: var(--blue-background);
    width: 3vw;
    text-align: center;
    border-radius: 10px;
    color: var(--background);
    font-weight: 600;
}

.review-section {
    text-align: center;
    background-color: var(--blue-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.review-section h3 {
    margin: 40px;
    margin-bottom: 0;
    font-size: 3rem;
}

.review-section article {
    max-width: 500px;
    text-align: start;
    margin: 20px;
    margin-bottom: 40px;
}

.review-section button {
    margin: 100px;
}

.reviews {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.review {
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.review img {
    border-radius: 100%;
    height: 90px;
    width: 90px;
    margin: auto;
    object-fit: cover;
}

.rating {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 948px) {
    .hero-section h1 {
        font-size: 2em;
    }

    .hero-text {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero-text p {
        display: none;
    }
}

@media (max-width: 414px) {
    section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .reviews {
        display: flex;
        flex-direction: column;
    }

    .review {
        width: 80vw;
    }

    .home-section {
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 10px;
        text-align: start;
    }

    .text-content {
        display: flex;
        flex-direction: column;
    }

    .text-content h2 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .home-section .image-container {
        display: none;
    }

    .home-destinations {
        flex-direction: column;
    }

    .planner-section article .image-container {
        display: none;
    }

    .step-number {
        width: 2em;
    }
}
