.reviewForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color-background);
    width: 50%;
}

.reviewForm > label {
    display: flex;
    flex-direction: column;
}

.textLabel > textarea {
    height: 100px;
}

.reviewForm > button {
    height: 50px;
}
