.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 50%;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 5px 12px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  margin-top: 50px;
}

.gridForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  height: 100%;
}

.gridItem {
  display: flex;
  flex-direction: column;
}

.gridItem > input,
.gridItem > select {
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--blue-background);
  color: var(--dark);
}

.gridItem > select {
  background-color: white;
  height: 42px;
}

.buttonContainer {
  margin-top: 30px;
}
