.sidebar {
  width: 240px;
  border-right: 1px solid var(--light-grey);
  padding: 20px 15px;
  position: sticky;
}

.sidebar > nav {
  margin-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 25px;
  border-bottom: 1px solid var(--light-grey);
}

.navLink {
  background: none;
  border: none;
  font-size: 20px;
  color: var(--dark);
  cursor: pointer;
  text-align: left;
  padding: 15px;
  transition: background-color 0.2s ease;
  width: 100%;
}

.sidebar a:hover {
  color: var(--orange);
}

.activeLink {
  color: var(--orange);
}

.logout {
  margin-left: 15px;
  padding: 0;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--light-grey);
    padding: 10px 0;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .sidebar > nav {
    margin-top: 0;
    width: 100%;
  }

  .sidebar ul {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }

  .sidebar li {
    margin-bottom: 0;
    border-bottom: none;
  }

  .navLink {
    font-size: 20px;
    text-align: center;
  }

  .logout {
    margin-left: 0;
    font-size: 18px;
  }
}
