.sidebar {
  width: 240px;
  border-right: 1px solid var(--light-grey);
  padding: 20px 15px;
  position: sticky;
}

.sidebar > nav {
  margin-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 25px;
  border-bottom: 1px solid var(--light-grey);
}

.navLink {
  background: none;
  border: none;
  font-size: 20px;
  color: var(--dark);
  cursor: pointer;
  text-align: left;
  padding: 15px;
  transition: background-color 0.2s ease;
  width: 100%;
}

.sidebar a:hover {
  color: var(--orange);
}

.activeLink {
  color: var(--orange);
}

.logout {
  margin-left: 15px;
  padding: 0;
  font-size: 18px;
}
